/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.centerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
form {
    border: solid 1px #dbe0dd;
    padding: 50px 0px 50px 0px;
    border-radius: 5px;
    width:400px;
    margin:auto;
    button.btn-link{
      padding:0px;
    }
}
.auth-row{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top:10px;
    input{
             margin:auto;
             border-radius:5px;
             border: solid 1px #c1c1c1;
             padding:5px;
         }
    label{
      width: 120px;
      text-align:left;
    }
}

.side-nav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    padding-right: 20px;
    border-right: solid 1px #dbe0dd;
    width: 150px;
}

.main-content{
    margin-left: 150px;
}
.wf-lane {
    width: 200px;
    border: solid 1px #c1c1c1;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100px;
    display: inline-block;
    padding-left: unset;
}
.wf-card {
    width: 90%;
    min-height: 50px;
    border: solid 2px #7d67f7;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: move;
}

